<!-- Script Section -->
<!--<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/script.js"></script>-->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to SkyHub</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>



  <footer class="site-footer">
    <div class="footer-content">
      <div class="centered-footer-column">

        <h4>Connect with Us</h4>


        <p>Facebook</p>
        <p>Twitter</p>
        <p>Instagram</p>
        <p>LinkedIn</p>

      </div>
      <div class="right-footer-column">

        <h4>Legal</h4>

        <p>Privacy Policy</p>
        <p>Terms of Service</p>
        <p>Cookie Policy</p>

      </div>

      <div class="additional-footer-column">
        <h4>Company</h4>
        <p>About</p>
        <p>Jobs</p>
        <p>Partnerships</p>
        <p>Advertising</p>
        <p>Affiliate Marketing</p>
      </div>

      <div class="additional-footer-column">
        <h4>Explore</h4>
        <p>Canada travel guide</p>
        <p>Vacation packages in Canada</p>
        <p>Domestic flights</p>
        <p>Travel blog</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 SkyHub. All rights reserved.</p>
    </div>
  </footer>

</body>

</html>
