<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track a Flight | SkyHub</title>
  <link rel="stylesheet" href="/stylesheets/track.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/navbar.ejs %>

  <h1>Flight Search</h1>
  <form id="flightSearchForm">
    <label for="originCode">Origin Code:</label>
    <input type="text" id="originCode" name="originCode" required>
    <br>
    <label for="destinationCode">Destination Code:</label>
    <input type="text" id="destinationCode" name="destinationCode" required>
    <br>
    <label for="dateOfDeparture">Departure Date:</label>
    <input type="date" id="dateOfDeparture" name="dateOfDeparture" required>
    <br>
    <button type="submit">Search Flights</button>
  </form>

  <div id="flightResults"></div>

  <% include partials/footer.ejs %>
</body>

<script>
    document.getElementById("flightSearchForm").addEventListener("submit", function(event) {
      event.preventDefault();
      const formData = new FormData(this);
      const searchParams = new URLSearchParams(formData).toString();
  
      fetch(`http://localhost:3000/flight-search?${searchParams}`)
        .then(response => response.json())
        .then(data => {
          const flightResultsDiv = document.getElementById("flightResults");
          flightResultsDiv.innerHTML = ""; // Clear previous results
  
          data.data.forEach(flight => {
            const flightInfo = `<div>
              <p>Price: ${flight.price.total} (${flight.price.currency})</p>
              <p>Number of Seats Available: ${flight.numberOfBookableSeats}</p>
              <p>Last Ticketing Date: ${flight.lastTicketingDate}</p>
              <h4>Itineraries:</h4>
              <ul>
                ${flight.itineraries.map(itinerary => `
                  <li>
                    <p>Duration: ${itinerary.duration}</p>
                    <p>Departure: ${itinerary.segments[0].departure.iataCode} at ${itinerary.segments[0].departure.at}</p>
                    <p>Arrival: ${itinerary.segments[itinerary.segments.length - 1].arrival.iataCode} at ${itinerary.segments[itinerary.segments.length - 1].arrival.at}</p>
                    <p>Number of Stops: ${itinerary.segments.length - 1}</p>
                  </li>
                `).join('')}
              </ul>
            </div>`;
            flightResultsDiv.insertAdjacentHTML("beforeend", flightInfo);
          });
        })
        .catch(error => {
          console.error("Error fetching flight data:", error);
        });
    });
  </script>

</html>
